body{
    background-color: #212121;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    color: #dfb0fa;
    font-size: 5rem;
}

.nav-link{
    font-size: xx-large;
}

.nav-link:hover{
    color: #dfb0fa;
}

.card{
    background-color: #dfb0fa;
    color: white;
    text-align: center;
}

#records{
    background-color: #dfb0fa;
}

#records h1{
    color: white;
}

.btn-primary{
    background-color: blueviolet;
    border: blueviolet;
}

.navbar>.container-fluid{
    display: block;
}

/* .carousel-item img {
    padding: 35px;
}

.carousel-item{
    background-image: url("img/backs.png");
    background-repeat: no-repeat;
    background-attachment: unset;
} */
  